*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
html{
  font-size: 62.5%;
}

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body nav .nav-container{
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .nav-container .logo-container{
  display: flex;
  justify-content: left;
  align-items: center;
  width: inherit;
  
}
body nav .nav-container .logo-container img{
  width: 5em;
  margin: 0 0 0 8%;
}

body header{
  background-image: url(girl.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


}
body header .header1{
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; 
}

body header .header1 .header1-content .h1{
font-size: 5em; margin-left: 0.9em;
color: green;  
}

body header .header1 .header1-content .p1{
  font-size: 2em; margin-left: 2.6em;
}

body header .header1 .header1-content .btn{
  float: right;
}

body header  .bttn1{
  color: rgb(255, 255, 255); padding: 1em; border-style: none;
  border-radius: 2em; margin: 0.1em;
  margin-top: 5em; background-color: rgb(112, 90, 16); 
}
  

 
