.body{display: flex;
align-items: center;
align-content: center;
}
.girl{ height:100vh;}

.imggirl {
  width: 100%;
  
}

.logoimg {
  width: 10%;
  float: right;
  position: absolute;
  top: 4%;
  left: 10%;
}
.header1 {
  position: relative;
  bottom: 0em;
  top: 20em;
  margin-left: 10%;
}
.h1 {
  font-size: 35px;
  color: rgb(1, 96, 1);
}
.p1 {
  padding-bottom: 10%;
  margin-bottom: 0px;
  font-size: 25px;
}

.navbar {
  position: relative;
  bottom: 0em;
  top:17em;
  left: 30%;
  margin-right: 0%;
  
}
.bttn1 {
  margin-right: 10%;
  background-color: rgb(0, 78, 13);
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}
.bttn2 {
  margin-right: 10%;
  background-color: rgb(0, 78, 13);
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.bttn3 {
  margin-right: 10%;
  background-color: rgb(0, 78, 13);
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.login{margin-right: 5%;
    background-color: rgb(0, 78, 13);
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 20%;
bottom:25rem; position: relative; margin-left: 45%; cursor: pointer; 
position:relative}

    

@media screen and (max-width: 500px) {
  .girl {
    height: 100vh;
    background-size: cover;
  
  }
  .header1 {
    font-size: 10px;
    bottom: 70em;
    left: 5%;
  
  }
  .imggirl { height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 20em;
  
  }
  .h1{bottom:12em; position:absolute; }
  .p1{position: relative; bottom: 19em;}
  .navbar {
    top: 37em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
    position:absolute;
    left: 15%;
    width: 18em;
    height: 10vh;
  }
  .p1{ font-size: 19px; }
  .bttn1{font-size: 10px;}
  .bttn2{font-size: 10px;}
  .bttn3{font-size: 10px;}

  .login{ position: relative; bottom:55em; width: 40%;
margin-left: 15em; font-size: 8px;}
}



